{% extends "Base/base.html" %}

{% block conteudo %}
<h1>Exclusão de Reserva</h1>
<hr>
<p class="lead">Deseja realmente excluir essa reserva?</p>
<form action="/reserva/excluirreserva" method="post">
    <input type="hidden" name="idReserva" value="{{ reserva.idReserva }}">
    <div class="mb-3">
        <a href="{% if usuario.funcionario %}/reserva/listagemreservas{% else %}/cliente/minhasreservas/{{ reserva.idCliente }}{% endif %}" class="btn me-2" style="background-color: #4D2B1E; color: #EDE0D4;">Cancelar</a>
        <button class="btn" style="background-color: #4D2B1E; color: #EDE0D4;" type="submit">Excluir</button>
    </div>
</form>
{% endblock %}