{% extends "Base/base.html" %}

{% block conteudo %}
<h1>Exclusão de Endereço</h1>
<hr>
<p class="lead">Deseja realmente excluir o endereço?</p>
<form action="/endereco/excluirendereco" method="post">
    <input type="hidden" name="idEndereco" value="{{ endereco.idEndereco }}">
    <div class="mb-3">
        <a href="/cliente/meusenderecos" class="btn me-2" style="background-color: #4D2B1E; color: #EDE0D4;">Cancelar</a>
        <button class="btn" style="background-color: #4D2B1E; color: #EDE0D4;" type="submit">Excluir</button>
    </div>
</form>
{% endblock %}