{% extends "Base/base.html" %}

{% block conteudo %}
<h1>Dados Pessoais</h1>
<hr>

<div class="row">
    <div class="col-sm-8 col-lg-9">
        <p>Nome Completo: {{ cliente.nome }}</p>
        <p>E-mail: {{ cliente.email }}</p>
        <p>CPF: {{ cliente.cpf }}</p>
        <p>Telefone: {{ cliente.telefone }}</p> 
    </div>
    <div class="col-sm-4 col-lg-3">
        <img src="/static/img/clientes/{{ usuario.idUsuario|id_img }}.jpg" class="img-thumbnail" /> 
        <a href="/cliente/trocarfoto/{{ cliente.idUsuario }}" class="btn" style="background-color: #4D2B1E; color: #EDE0D4; margin-top: 10px;"> <i class="bi bi-image-fill"></i> Trocar Foto </a>
    </div>
</div>

<hr>
<a href="/cliente/modificarcliente/{{ cliente.idUsuario }}" class="btn me-3" style="background-color: #4D2B1E; color: #EDE0D4;"> Editar Dados</a>
<a href="/alterarsenha" class="btn" style="background-color: #4D2B1E; color: #EDE0D4;">Alterar Senha</a>
{% endblock %}