{% extends "Base/base.html" %}

{% block conteudo %}
<div class="d-flex justify-content-between align-items-center">
    <h1>Clientes Cadastrados</h1>
</div>

<div class="container mt-5">
    <div class="row">

        <div class="col-9">
            <div class="row row-cols-1 row-cols-md-2 g-4">
                <!-- cards dos produtos --> 
                {% for cliente in clientes %}
                <div class="col">
                    <div class="card" style="width: 18rem; height: 37rem; background-color: #EDE0D4;">
                        <!-- EXIBIÇÃO DA IMAGEM -->
                        <img src="/static/img/clientes/{{ cliente.idUsuario|id_img }}.jpg" class="card-img-top" alt="Imagem do cliente {{ cliente.nome }}">            
                        <!-- ------------------ -->
                        <div class="card-body">
                            <h5 class="card-title">Nome: {{ cliente.nome }}</h5>
                            <p class="card-text">E-mail: {{ cliente.email }}</p> 
                            <p class="card-text">Telefone: {{ cliente.telefone }}</p>
                            <p class="card-text">Data de Nascimento: {{ cliente.dataNascimento }}</p> 
                            <p class="card-text">Pontuação: {{ cliente.pontuacao }}</p>     
                            <center><a href="/cliente/modificarcliente" class="btn" style="background-color: #4D2B1E; color: #EDE0D4;">Modificar Cliente</a></center>            
                        </div>            
                    </div>
                </div>
                {% endfor %} 
            </div>
        </div>

{% endblock %} 