{% extends "Base/baseFuncionario.html" %}

{% block conteudo %}
<h1>Exclusão de Cliente</h1>
<hr>
<p class="lead">Deseja realmente excluir o cliente <b>{{ cliente.nome }}</b>?</p>
<form action="/Cliente/excluirCliente" method="post">
    <input type="hidden" name="id" value="{{ cliente.idCliente }}">
    <div class="mb-3">
        <a href="/Cliente/listagemCliente" class="btn btn-secondary me-2">Cancelar</a>
        <button class="btn btn-danger" type="submit">Excluir</button>
    </div>
</form>
{% endblock %}