{% extends "Base/base.html" %}

{% block conteudo %}
<h1>Exclusão de Categoria</h1>
<hr>
<p class="lead">Deseja realmente excluir a categoria <b>{{ categoria.nome }}</b>?</p>
<form action="/categoria/excluircategoria" method="post">
    <input type="hidden" name="idCategoria" value="{{ categoria.idCategoria }}">
    <div class="mb-3">
        <a href="/categoria/listagemcategoria" class="btn me-2" style="background-color: #4D2B1E; color: #EDE0D4; border-radius: 25px;">Cancelar</a>
        <button class="btn" style="background-color: #4D2B1E; color: #EDE0D4; border-radius: 25px;" type="submit">Excluir</button>
    </div>
</form>
{% endblock %}