{% extends "Base/base.html" %}

{% block conteudo %}
    <br>
    <br>
    <br>
    <form class="d-flex" role="search">
        <input class="form-control me-2" type="search" placeholder="Digite aqui o nome do produto" aria-label="Search">
        <button class="btn btn-outline-success" type="submit">
            Consultar
            <i class="bi bi-search search-icon"></i> 
        </button>
    </form>
      <br>
      <br>
      <br>
    <div class="col-md-9">
        <h4>Panquecas</h4>
      <div class="row">
        <div class="col-md-4 mb-4 product-card promo">
          <div class="card">
            <img src="static/img/cafe.jpg" class="card-img-top" alt="Product 1">
            <div class="card-body">
              <h5 class="card-title">Panqueca de Frutas Vermelhas</h5>
              <p class="card-text">Panqueca americana composta por frutas, geleia de frutas vermelhas ou mel, 100g.</p>
              <p class="card-text">R$25,00</p>
              <button class="btn btn-primary btn-modify">Modificar</button>
            </div>
          </div>
        </div>
        <div class="col-md-4 mb-4 product-card promo">
          <div class="card">
            <img src="static/img/cafe.jpg" class="card-img-top" alt="Product 2">
            <div class="card-body">
              <h5 class="card-title">Panqueca de Banana</h5>
              <p class="card-text">Panqueca americana composta por banana e mel, 100g.</p>
              <p class="card-text"><del>R$20,00</del> <span class="text-danger">R$17,00</span></p>
              <button class="btn btn-primary btn-modify">Modificar</button>
            </div>
          </div>
        </div>
        <div class="col-md-4 mb-4 product-card promo">
          <div class="card">
            <img src="static/img/cafe.jpg" class="card-img-top" alt="Product 3">
            <div class="card-body">
              <h5 class="card-title">Panqueca de Mel</h5>
              <p class="card-text">Panqueca americana composta por mel em seu topo, 100g.</p>
              <p class="card-text">R$20,00</p>
              <button class="btn btn-primary btn-modify">Modificar</button>
            </div>
          </div>
        </div>
        <div class="col-md-4 mb-4 product-card promo">
          <div class="card">
            <img src="static/img/cafe.jpg" class="card-img-top" alt="Product 4">
            <div class="card-body">
              <h5 class="card-title">Panqueca de Banana e Aveia</h5>
              <p class="card-text">Panqueca americana composta por banana e aveia, 100g.</p>
              <p class="card-text">R$20,00</p>
              <button class="btn btn-primary btn-modify">Modificar</button>
            </div>
          </div>
        </div>
      </div>
<br>
<br>

<nav aria-label="Page navigation example">
    <ul class="pagination">
      <li class="page-item"><a class="page-link" href="estoquecafe.html">Voltar</a></li>
      <li class="page-item"><a class="page-link" href="estoquecafe.html">1</a></li>
      <li class="page-item"><a class="page-link" href="estoquedoce.html">2</a></li>
      <li class="page-item"><a class="page-link" href="estoquepanqueca.html">3</a></li>
      <li class="page-item"><a class="page-link" href="estoquepao.html">4</a></li>
      <li class="page-item"><a class="page-link" href="estoquecroissants.html">5</a></li>
      <li class="page-item"><a class="page-link" href="estoqueexecutivo.html">6</a></li>
      <li class="page-item"><a class="page-link" href="estoquebebidas.html">7</a></li>
      <li class="page-item"><a class="page-link" href="#" id="nextPage">Avançar</a></li>
    </ul>
  </nav>

      <script>
       
    // Obtém os elementos dos links "Próximo" e "Anterior"
    const prevPageLink = document.querySelector('li.page-item:first-child a.page-link');
    const nextPageLink = document.getElementById('nextPage');

    // Adiciona um evento de clique ao link "Anterior"
    prevPageLink.addEventListener('click', function (e) {
      e.preventDefault(); // Impede o comportamento padrão do link
      // Redireciona para a página anterior (subtrai 1 do número atual)
      window.location.href = 'estoque' + (getCurrentPage() - 1) + '.html';
    });

    // Adiciona um evento de clique ao link "Próximo"
    nextPageLink.addEventListener('click', function (e) {
      e.preventDefault(); // Impede o comportamento padrão do link
      // Redireciona para a próxima página (soma 1 ao número atual)
      window.location.href = 'estoque' + (getCurrentPage() + 1) + '.html';
    });

    // Função para obter o número da página atual a partir do URL
    function getCurrentPage() {
      const currentURL = window.location.href;
      const match = currentURL.match(/estoque(\d+)\.html/);
      if (match && match[1]) {
        return parseInt(match[1], 10);
      }
      return 1; // Página padrão é a primeira
    }
      </script>
{% endblock %}