{% extends "Base/base.html" %}

{% block conteudo %}
<br>
<br>
<br>
<h3 style="color: #EDE0D4; font-family: 'Baloo 2', sans-serif; font-size: 28px; text-align: center;">Pedidos - Controle Funcionários</h3>
<br>
<br>
<h3 style="color: #EDE0D4; font-family: 'Baloo 2', sans-serif; font-size: 28px;">Indicadores</h3>

<div class="container text-center">
  <div class="row">
    <div class="col" style="background-color: #EDE0D4; margin-right: 15px; min-height: 35px; font-size: 21px; color: #4D2B1E;">
      Preparados
    </div>
    <div class="col" style="background-color: #EDE0D4; margin-right: 15px; min-height: 35px; font-size: 21px; color: #4D2B1E;">
      Avaliados
    </div>
    <div class="col" style="background-color: #EDE0D4; margin-right: 15px; min-height: 35px; font-size: 21px; color: #4D2B1E;">
      Rejeitados
    </div>
  </div>
  <br>
  <div class="row">
    <div class="col" style="background-color: #EDE0D4; margin-right: 15px; min-height: 35px; font-size: 21px; color: #4D2B1E;">
      Delivery
    </div>
    <div class="col" style="background-color: #EDE0D4; margin-right: 15px; min-height: 35px; font-size: 21px; color: #4D2B1E;">
      Pendentes
    </div>
    <div class="col" style="background-color: #EDE0D4; margin-right: 15px; min-height: 35px; font-size: 21px; color: #4D2B1E;">
      Retirados
    </div>
  </div>
  <br>
  <div class="row">
    <div class="col" style="background-color: #EDE0D4; margin-right: 15px; min-height: 35px; font-size: 21px; color: #4D2B1E;">
      No local
    </div>
    <div class="col" style="background-color: #EDE0D4; margin-right: 15px; min-height: 35px; font-size: 21px; color: #4D2B1E;">
      Entregues
    </div>
    <div class="col" style="background-color: #EDE0D4; margin-right: 15px; min-height: 35px; font-size: 21px; color: #4D2B1E;">
      Desistência
    </div>
  </div>
</div>

<br>
<br>
<br>
<br>
<h3 style="color: #EDE0D4; font-family: 'Baloo 2', sans-serif; font-size: 28px;">Controle de Produtos</h3>

<div class="container text-center">
  <div class="row">
    <div class="col" style="background-color: #EDE0D4; margin-right: 15px; min-height: 35px; font-size: 21px; color: #4D2B1E;">
      Cafés
    </div>
    <div class="col" style="background-color: #EDE0D4; margin-right: 15px; min-height: 35px; font-size: 21px; color: #4D2B1E;">
      Panquecas
    </div>
    <div class="col" style="background-color: #EDE0D4; margin-right: 15px; min-height: 35px; font-size: 21px; color: #4D2B1E;">
      Croissants
    </div>
  </div>
  <br>
  <div class="row">
    <div class="col" style="background-color: #EDE0D4; margin-right: 15px; min-height: 35px; font-size: 21px; color: #4D2B1E;">
      Doces
    </div>
    <div class="col" style="background-color: #EDE0D4; margin-right: 15px; min-height: 35px; font-size: 21px; color: #4D2B1E;">
      Pães
    </div>
    <div class="col" style="background-color: #EDE0D4; margin-right: 15px; min-height: 35px; font-size: 21px; color: #4D2B1E;">
      Executivos
    </div>
  </div>
  <br>
  <div class="row">
    <div class="col" style="background-color: #EDE0D4; margin-right: 15px; min-height: 35px; font-size: 21px; color: #4D2B1E;">
      Drinks
    </div>
    <div class="col" style="background-color: #EDE0D4; margin-right: 15px; min-height: 35px; font-size: 21px; color: #4D2B1E;">
      Refrigerantes
    </div>
    <div class="col" style="background-color: #EDE0D4; margin-right: 15px; min-height: 35px; font-size: 21px; color: #4D2B1E;">
      Sucos
    </div>
    <div class="col" style="background-color: #EDE0D4; margin-right: 15px; min-height: 35px; font-size: 21px; color: #4D2B1E;">
      Água
    </div>
  </div>
</div>


<br>


            <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js"></script>
{% endblock %}