{% extends "Base/base.html" %}

{% block conteudo %}
<h1>Seu Pedido Foi Realizado Com Sucesso!</h1>
<hr>
<p class="lead">
    Seu pedido foi realizado com sucesso, aguarde a confirmação de um dos nossos funcionários para seu pedido entrar em preparo. 
    <br>
    <a href="/" class="text-decoration-none" style="color: #EDE0D4;">Clique aqui</a> para apreciar um pouco mais de nossos produtos.
    <br>
    <br>
    Prefiro que me direcione para <a href="/pedido/andamento" class="text-decoration-none" style="color: #EDE0D4;">acompanhar meu pedido.</a>
</p>
{% endblock %} 